@charset "UTF-8";

a {
	color: red;
	font-size: 12px;
	font-family: verdana;
	border-bottom: 1px dashed red;
	text-decoration: none;
}

ul {
	list-style-image:url("setavermelha.png");
}

a#batatas:hover {
	color: green;
	border-bottom: 1px dashed green;
	list-style-image:url("setaverde.png");
}

li#batatas:hover {
	list-style-image:url("setaverde.png");
}

a#ovos:hover {
	color: green;
	border-bottom: 1px dashed green;
	list-style-image:url("setaverde.png");
}

li#ovos:hover {
	list-style-image:url("setaverde.png");
}

a#leite:hover {
	color: green;
	border-bottom: 1px dashed green;
	list-style-image:url("setaverde.png");
}

li#leite:hover {
	list-style-image:url("setaverde.png");
}

a#trigo:hover {
	color: green;
	border-bottom: 1px dashed green;
	list-style-image:url("setaverde.png");
}

li#trigo:hover {
	list-style-image:url("setaverde.png");
}

a#manteiga:hover {
	color: green;
	border-bottom: 1px dashed green;
	list-style-image:url("setaverde.png");
}

li#manteiga:hover {
	list-style-image:url("setaverde.png");
}